dotWeb/dot-xml/dot-class/schema/mixed/mixed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="narrative">
    <xs:complexType mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="bold" type="xs:string"/>
            <xs:element name="italics" type="xs:string"/>
            <xs:element name="underline" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
</xs:element>
</xs:schema>