dotWeb/dot-xml/xml-projects/book/book.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"></xs:element>
                <xs:element name="author" type="xs:string"></xs:element>
                <xs:element name="isbn" type="xs:string"></xs:element>
                <xs:element name ="publisher" type="xs:string"></xs:element>
                <xs:element name="edition" type="xs:string"></xs:element>
                <xs:element name="price" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>